
:root{
    /*  COLORS  */
    --white:#fdfdfd;
    --black:#17181c;
    --dark-grey:#252525;
    --grey:#636267;
    --light-grey:#cecccd;
    --dark-black:#101d26;
    --red:#dd1a2b;
     --ratingColor: #fbb708;
        /*  GRADIENT  */

   
    --redGradient:linear-gradient(90deg,#fa121e 0% ,#dd1a2b 100%);
    --blackGradient:linear-gradient(90deg,#1a1818 0% ,#000000 100%);
    


        /*  FONTS  */

    --fs-heading:4rem;
    --fs-title:2rem;
    --fs-btn:.8rem;
    --fs-text:1rem;

        /*  SHADOWS  */

    --shadow-black: 0 1px 4px rgba(0, 0, 0, 0.3);
    --shadow-red:  0 2px 6px rgba(255, 15, 27, 0.8);
    --shadow-white:  0 2px 5px rgba(121, 117, 117, 0.2);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'DM Sans', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--dark-grey);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--grey);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--light-grey);
  }