                        /* MOVIE CARD ///////////////// */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.movies-container a {
    color: var(--white);
    text-decoration: none
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 50px;
}
.movies-read-more {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: var(--fs-text2);
}
.movies-read-more p {
    cursor: pointer;
}

.movie-card-container:hover .movies-read-more {
    display: grid;
}


.movie-card-img {
    width: 100%;
    position: relative;
}

.movie-card-img img {
    width: 100%;
    height: auto;
}


@media (max-width:600px) {
    .movies-container{
        margin: 20px;
    }

    .movies-read-more p{
        font-size: 35px;
    }
}
