.poster-container {
    width: 100%;
    height: 500px;
    position: relative;
}

.poster-swiper-container {
    width: 100%;
    height: 100%;
}

.poster-swiper-card{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.small-swiper-cont {
width: 350px;
height: 250px;
display: flex;
justify-content: start;
position: absolute;
bottom: 100px;
left: 0;
}


.small-swiper-cont img {
    width: 100%;
    object-fit: cover;
}
  
.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
.small-swiper-card {
    cursor: pointer;
}

.poster-swiper-card-inner {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.showed-main-cont {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-position-y: top;
}

.showed-text-cont {
    padding: 40px;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--black);
}

.showed-text-cont h1 {
    font-size: var(--fs-title);
    background: -webkit-linear-gradient(var(--white), var(--light-grey));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.showed-rateDuration {
    display: flex;
    margin-top: 40px;
}
.showed-rateDuration p {
    padding: 0 5px;
}

.showed-rate {
    display: flex;
}
.showed-rate i {
    color: var(--ratingColor);
}

.showed-genres {
    margin-top: 20px;
}
.showed-genres li {
    display: inline-block;
    padding-right:10px;
    list-style-type: none;
}

.showed-overview {
    margin-top: 20px;
    word-spacing: 1.2px;
    line-height: 1.5;
}

.showed-buttons {
    margin-top: 30px;
}

.showed-buttons button {
    padding: 8px 16px;
    border-radius: 20px;
    color: var(--white);
    cursor: pointer;
    font-size: var(--fs-btn);
    outline: none;
    border: none;
    margin-right: 20px;
    width: 100px;
    letter-spacing: 1px;
}

#watch-btn {
    background-image: var(--redGradient);
    box-shadow: var(--shadow-red);
}

#add-btn {
    background-color: var(--dark-black);
    box-shadow: var(--shadow-white);
}

.test {
    width: 100px;
    height: 100px;
}