.poster-container {
    width: 100%;
    height: 500px;
    position: relative;
}

.poster-swiper-container {
    width: 100%;
    height: 100%;
}

.poster-swiper-card{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.poster-swiper-card-inner {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.small-swiper-cont {
width: 350px;
height: 350px;
display: flex;
justify-content: start;
position: absolute;
bottom: 100px;
left: 0;
}

.small-swiper-cont img {
    width: 100%;
}
  